DATABASE_URL=""
DATABASE_DIRECT_URL=""
GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
OUR_JWT_SECRET=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
BOOK_GENERATION_JOB_SECRET=""
APP_URL=""
